* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* anh đức viết css lấy mã màu vui lòng lấy chính xác mã màu ở dạng HEX GIÚP EM 
------- TUYỆT ĐỐI KHÔNG ĐƯỜNG DÙNG CHỮ ĐỂ KHAI BÁO MÃ MÀU CHO BẤT KÌ MỘT ELEMENT NÀO NHƯ TRƯỜNG 
HỢP BÊN DƯỚI----------------------" 
*/

section {
    margin: 0 10px;
}
h2 {
    text-align: center;
    color: #0b553c;
    margin: 20px 0;
}

p {
    font-weight: 300;
}

span {
    color: rgb(230, 43, 43);
    font-weight: 600px;
}

div {
    background-color: #CCC;
    display: flex;
    justify-content: center;
}

pre {
    background-color: #CCC;
    color: #0000CC;
    margin-top: 20px;
}    