section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;

}

h2 {
    color: #2d6eaa;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
   width: 95%;
   overflow: scroll;
   background-color: #fefbc4;
}


td {
    text-align: left;
    max-width: 150px;
    color: #2d6eaa;
    font-weight: 400;
}

.choice {
    overflow: unset;
}

.btn {
    text-align: center;
}

.number-input {
    width: 100px;
}


textarea {
    overflow: auto;
    
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px 2px double  #ff0000d2  #000000;
    width: 350px;
    height: 55px;
}

legend {
    color: #937731;
}

p {
    margin: 0;
    color: #cf7334;
    text-align: center;
    font-weight: 500;
}
