* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid #FF0000;
    border-collapse: collapse;
    
}

section {
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid #FF0000;
    width: 800px;
}

table {
    border-spacing: 0px;
    width: 800px;
}

.header-top--title {
    background-color:#FF0000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

.header-space {
   height: 10px;
}

.header-bottom td {
    background-color: #FFBBBB;
    color: #FF0000;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

.header-top--img {
   width: 100px;
   border-spacing: 0px;
}

.header-top--img img {
    position: relative;
    top: 4px;
}


.sub-title {
    color: #FF0000 ;
    margin-bottom: 20px;
    font-size: 18px;
}

.sub-title::before {
    content: "\25AF";
    margin-right: 4px;
    font-weight: 400;
}

.content-left__list {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 10px;
    padding-bottom: 20px;
   
}

.content-left__list--padding {
    padding: 20px;
}

.content-right {
    display: flex;
    flex-direction: column;
    border:  none;
}

.content-right__list {
    margin-left: 40px;
}

.content-right__list li:first-child {
    margin-bottom: 20px;
    
}

.content-right__list > li {
    text-indent: 5px
}
