 section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;

}

h2 {
    color: #275c02;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 95%;
    overflow: scroll;
    background-color: #e0f9d9;
}

.text,
th {
    text-align: left;
    max-width: 150px;
    color: #275c02;
    font-weight: 500;
}

.choice {
    overflow: unset;
}

.btn {
    text-align: center;
}

.btn input {
    background-color: #d7cdc7 ;
}

p {
    color: #b93c61;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.choice :nth-child(1), 
.choice :nth-child(3) {
    background-color: #0b2268;
    color: #ffffff  ;
}