body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
    color: #bb1d39;
    font-size: 26px;
    font-weight: 1000;
}


table, th, td{
    border: 1px solid #b77f7f;
    border-collapse: collapse;
}


th {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #cc0033;
}

.title {
    color: #d37a77 ;
    text-align: center;
    padding: 0 20px;
}

.text--center {
    text-align: center;
}