body {
    margin: 0;
    padding: 0;
}

/* border: 1px solid và mã màu không có ghi black nha anh  */
section {
    display: flex;
    background-color: #FFEDCA;
    padding-bottom: 20px;
}


img {
    max-width: 300px ;
    max-height: 150px ;
    margin-top: 20px;
    margin-left: 20px;
}

 
h1 {
    color: #CC6600;
    font-size: 30px;
}

/* ở đây cũng vậy lun ko có ghi tên màu dùm em  */
table, th, td {
    border: 1px solid black;    
    border-collapse: collapse;
}

table {
    min-width: 300px;
}

th {
    color: #fff;
    text-align: center;
    background-color: #CC6600;
}

tr:nth-child(odd) {
    background-color: FFEDCA;
}

tr:nth-child(even) {
    background-color: #fff;
}

th:nth-child(1) {
    width: 40px;
}

.stt {
    text-align: center;
}

