* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.paragraph{
    background-color: #A06D21;
    height: 1000px;
} 

.paragraph-content {
    background-image: url(../images/Bai03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 30px;
    height: 100%;
}

.paragraph-content__title {
    text-align: center;
    color: #FFCC00;
    padding-top: 10px;
    padding-bottom: 20px;
}

.paragraph-content__text {
    color: #ffffff;
    margin: 0 10px;
    line-height: 20px;
    font-weight: 300;
}
