* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ANH ĐỨC LÀM ƠN KIỂM TRA THẬT KỸ ĐƯỜNG DẪN URL GIÚP EM QUÁ Ư CẨU THẢ KHÔNG LINK ĐƯỢC BACKGROUND DÔ KÌA ANH 
    ANH XEM LẠI ĐỊNH NGHĨA ĐƯỜNG DẪN TƯƠNG ĐỐI VÀ TUYỆT ĐỐI DÙM EM !!!!!!!!!!!!!!!!!!!
*/
.paragraph {
    background-image: url(../images/Bai04.jpg);
}

.paragraph__title {
    text-align: center;
    color: #008888;
    margin: 20px 0;
}

.paragraph__text {
    color: #008888;
    margin: 20px 10px;
    line-height: 20px;
}

.paragraph__text--first {
    background-color: #339999;
    font-style: italic; 
    font-weight: 600;
    color: #ffffff;
}
