* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: #e40f64;
    margin: 20px 0;
}

.paragraph {
    display: flex; 
}

.paragraph__content--intro ul,
.paragraph__content--contact ul {
    margin-left: 16px;
    font-weight: 500;
}

.paragraph__content--contact-list li:nth-child(2) {
    ư-space: ;
}

.paragraph__content--separate {
    margin: 30px 0;
}

.paragraph__content--sub-title {
    background-color: #e40f64;
    color: #ffffff;
    width: 70px;
}

.contact-info {
    margin-top: 30px;
    background-color: #f9edeb;
}

.contact-info span {
    font-weight: 800;
}
