 h1 {
    text-align: center;
    color: #006600;
}

h2 {
    text-decoration-line: underline;
    color: #0000ff
}

h3 {
    background-color: #FECFFD;
    color: #FF3399;
    text-align: center;
}
/* Không được style css cho div ngang sương như v 
mún style block nào, tag nào , thẻ nào thì anh Đức đặt class hay id 
đúng cái block đó, div đó, tag đó vì nếu đặt ngang sương thẻ div như vậy 
1 trang html biết bao nhiêu thẻ div thì tất cả thẻ div kia cũng bị ăn css của chính 
thẻ div bên dưới của anh đó !!!!!!!!!!
LƯU Ý CÁI NÀY KỸ GIÚP EM NHÉ !!!!!
*/
/* ======= WARNING ======== */
div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
/* ============================ */
.paragraph {
    background-color: #FFFFCC ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1, .p2, .p3{
    font-style: italic;
    font-weight: 500px;
}

.p1 {
    color: #0000FF;
}

.p2 {
    color: #c76e3e;
}

.p3 {
    color: #006600;
}

hr {
    width: 200px;
}